.label
  position absolute
  top 80px
  left 10vw
  height 40px

h1
  font-family "FS Elliot Pro Regular"

.logic
  z-index 20
  width 100%
  height 100%
  .bth
    background linear-gradient(#eee,#fefefe)
    width 180px
    padding 6px
    //line-height 40px
    border-radius 20px
    text-align center
  div
    position absolute
    //display flex
  .one
    //flex-direction column
    h2
      margin-top 0
      padding 0
      line-height 20px
    p
      margin 0
      line-height 30px
    font-size 1.2em
    spanafter
      content ' '
    .super
      border-bottom 2px dotted rgb(255,51,51)
    .white
      background white
      font-size 1.3em
    a
      margin-top 38px
  .two
    fs=20px
    .trust
      color white
      top 20vh
      left 10vw
      width 80vw
      white-space normal
      ul
        list-style-type upper-alpha
      li
        position relative
        margin 0
        line-height 2em
        font-size 1.2em
    .table
      position absolute
      opacity 0
      top 20vh
      left 10vw
      width 380px
      height 250px
      display flex
      justify-content space-around
      flex-direction column
      .row
        position static
        width 100%
        display flex
        justify-content space-around
      .round
        position static
        width 40px
        height 40px
        line-height 45px
        margin 10px
        background white
        border-radius 50%
        text-align center
        font-size .75em
        transition all .5s ease-in
        &:hover
          transform scale(1.5)
    p
      position absolute
      white-space nowrap
      color white
    .to:after
      content " выгодно!"
    .from:after
      content " надёжно!"
    .pnl
      background black
      color white
      width 100vw
      top 60vh
      h2
        text-align center
    .calc
      width 100%
      background black
      color white
      display flex
      justify-content space-around
      padding 10px
      white-space nowrap
    input
      background black
      color white
      font-size 16px
      width 100px
      border-bottom 2px dotted rgb(255,51,51)
    span
      font-size fs
      line-height fs
      margin-top 5px
      border-bottom 2px dotted black
      font-weight bold
    select
      color white
      border-radius 0
      background transparent
      border 0
      border-bottom 1px dotted rgb(255,51,51)
      font-size fs
      line-height fs
      -webkit-appearance none
  .three
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center
    flex-direction column
    .videos
      //width 80%
      //height 300px
      display flex
      justify-content space-around
      position static
      p
        margin 0
        text-align center
      .stek
        position static
        a
          margin 0
          font-size .4em
          text-align center
          position relative
          top -40px
          left 35px
        .play
          cursor pointer
          margin-top 20px
          margin-left 40px
          margin-right 40px
          margin-bottom 0
          text-align center
          line-height 52.5px
          font-size 1.2em
          position static
          width 45px
          height 45px
          background white
          border-radius 50%
    h1,ul
      margin 0
      list-style-type upper-alpha
    li
      margin 0
      line-height 20px
      opacity .5
  .calltoaction
    width 50vw
    min-width 600px
    height 300px
    background white
    color #333
    border 3px dotted rgb(255,51,51)
    .nav
      display flex
      //justify-content space-around
      width 90%
      position static
      margin auto
      div
        position static
      .left
        width 70%
      .right
        width 30%
        background url(/img/marco.jpg) no-repeat center center
        background-size contain
    .blue
      width calc(100% - 6px)
      height calc(100% - 6px)
      border 3px dotted rgb(51,51,255)
      text-align center
      p
        text-align left
        font-size .8em
        width 80%
        margin auto
        line-height 1.7em
  .footer
    width 80vw
    min-width 600px
    height 100vh
    background white
    text-align center
    div
      position static
    .smi
      width 750px
      margin auto
      display flex
      flex-wrap wrap
      div
        margin 10px
        filter invert()
        width 120px
        height 35px
        background-size contain
        background-repeat no-repeat
        //margin-top 0
        //margin-bottom 0
        padding 0
    .links
      img
        border-radius 50%
        margin 10px
        margin-top 0
        margin-bottom 0
    .about
      display flex
      justify-content space-around
      width 80%
      margin auto
      .bl
        width 30%
        display flex
        flex-direction column
        text-align left
        .h
          font-weight bold
        a
          line-height 22px
          font-size .9em
          color #333
    small
      font-size .7em
